.div {
    width: 911px;
    height: 400px;
  }
    .k1 {
      width: 270px;
      height: 400px;
    }
    .k2 {
      width: 340px;
      height: 400px;
    }
    .k3 {
      width: 301px;
      height: 400px;
    }